{% load i18n %}
{% load socialaccount %}
{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
    {% if not SOCIALACCOUNT_ONLY %}
        <div class="relative my-6 before:absolute before:inset-0 before:top-1/2 before:-translate-y-1/2 before:border-t before:border-baseLight-300/50 dark:before:border-baseDark-300/30 flex justify-center">
            <span class="bg-baseLight-100 dark:bg-baseDark-300 relative z-10 px-4 text-sm font-medium text-baseDark-100 dark:text-baseLight-100">
                {% translate "Atau" %}
            </span>
        </div>
    {% endif %}
    {% include "socialaccount/snippets/provider_list.html" with process=process %}
    {% include "socialaccount/snippets/login_extra.html" %}
{% endif %}