{% load widget_tweaks %}

<div class="mb-6">
    <label class="block mb-2 text-sm font-medium text-baseDark-100 dark:text-baseLight-100" for="{{ field.id_for_label }}">
        {{ field.label }}
    </label>
    
    {% if field.errors %}
        {% render_field field placeholder="" class="w-full neu-input-colorful rounded-lg p-3 border-2 border-danger-200 dark:border-danger-100 text-baseDark-100 dark:text-baseLight-100" %}
    {% else %}
        {% render_field field placeholder="" class="w-full neu-input-colorful rounded-lg p-3 text-baseDark-100 dark:text-baseLight-100" %}
    {% endif %}
    
    {% for error in field.errors %}
        <p class="mt-2 text-sm text-danger-200 dark:text-danger-100">{{ error }}</p>
    {% endfor %}
</div>
